/* Css Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/*HEADER CSS*/
#header{
	background-color:white;


}
a:link{
	font-family: 'Yantramanav', sans-serif;
	text-decoration: none;
	color:black;
}
h1 {
	text-align: center;
	font-size: 30px;
	font-family: 'Nunito', sans-serif;
}
#logo{
	height:45px;
	width:45px;
	vertical-align:middle;
	margin: 5px;
}
/* FOR HR TAG USE WHEN NEEDED 
.line_break{
	width:100%;
    height:0px;
    float: middle;
    color: #e5e5e5;
    //padding-top: 1px;
    background-color: #0;
    border: none;
    border-bottom: 1px solid grey;
    opacity: 0.2;
}
*/ 

.navt {
  list-style: none;
  float:right;
  position: relative;
  vertical-align: middle;
}
.navt li {
  display: inline;
}
.navt a {
  display: inline-block;
  padding: 0 12px;
  font-weight: lighter;
  color: #c1c8e4;
  line-height: 50px;
  text-decoration:  none;
  font-size:20px;
  font-family: 'Yantramanav', sans-serif;
    -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
.navt li a:hover {
  color: #84ceeb;

  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

/* MAIN CSS */
#main-quote {
	text-align:center;
	font-size: 45px;
	font-family: 'Work Sans', sans-serif;
	color: black;
} 
#front-page {
	height:100%;
	width:100%	;
}
#word {
	font-size: 45px;
	font-family: 'Work Sans', sans-serif;
	color: black;
	font-style: italic;
	text-align:center;
}
h3{
font-family: 'Yantramanav', sans-serif;
  font-size:50px;
  margin:0 auto;
  text-align:left;
  color:#31708E;
  font-weight:300;
}
#main{
  background-color:#5AB9EA;

}
p{
  font-family: 'Yantramanav', sans-serif;
  font-size:20px;
}
#Traits{
  float:left;
  margin:20px;
}
#TraitAnswers{
  float:left;
  margin:20px;
}
body{
  background-image:'https://www.strapui.com/wp-content/uploads/2015/11/ani.strapui.com-profile.html_009.png';
}
